header{
    /* background-color: rgb(24, 29, 29); */
    padding: 5px 0;
    border-bottom: 1px solid rgba(155, 155, 155,0.3);
    border-right: 1px solid rgba(155, 155, 155,0.3);
    flex: 0.1;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100vh;
}
nav{
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .logo{font-size: 2.5rem;font-weight: 100;cursor: pointer;}
nav .nav-menus{
    list-style: none;
    padding: 1rem 0;
    /* background-color: rgb(7, 143, 98); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-menus li{
    /* background-color: aqua; */
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem 0;
    margin: 5px 5px 5px 10px;
    max-width: 100px;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    color: rgb(53, 53, 53);
}
.nav-menus li:hover{
    transform: scale(0.9);
    color: black;
}

@media screen and (max-width:650px) {
    nav{flex-direction: column;}
    .nav-menus{margin: 10px 0;}
}